<%- include('header', {pagetitle: 'Breweries & Beers - Breweries'}) -%>
<%- include('navbar') -%>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-auto">
                <H1>Breweries</H1>
            </div>
        </div>
        <br>
        <div class="row justify-content-center">
            <div class="col-12 col-lg-4">
                <table style="vertical-align: middle" class="table table-striped table-bordered">
                    <tbody>
                        <% brews.forEach(function(brewery){ %>
                            <tr>
                                <th scope="row"><a href="/brewery/show/<%=brewery._id%>"><%= brewery.name %></a></th>
                                <th style="width: 10px"><a href="/brewery/delete/<%=brewery._id%>"><i class="fas fa-trash-alt btn btn-danger"></i></a></th>
                            </tr>
                        <% }); %>
                    </tbody>
                </table>
            </div>
        </div>
        <br>
        <div class="row justify-content-center">
            <div class="col-10 col-lg-3">
                <div class="d-grid">
                    <a href="/brewery/new" class="btn btn-primary">Add Brewery</a>
                </div>
            </div>
        </div>
    </div>
<%- include('footer') -%>